<html lang="en">
<head>
<meta charset="UTF-8">
<title>Title</title>
<head>
    <body>
<form action="/nextshowresults">
    <center>
     <table border="1" widthcellspacing="'0">
       <caption><b>Employee interface</b></caption>
      <tr>
        <td><b>Employee Id:</b></td>
        <td><input type="text" name="empId"></td>
      </tr>
      <tr>
        <td><b>Employee Name</b></td>
        <td><input type="text" name="empName"></td>
      </tr>
      <tr>
        <td><b>Gender:</b></td>
        <td>
            <input type="radio" name="gender" value="Male">Male
            <input type="radio" name="gender" value="Female">Female
        </td>
      </tr>
      <tr>
        <td><b>Desgignation:</b></td>
        <td><select  name="designation">
            <option>Grade One</option>
            <option>Grade Two </option>
            <option>Grade Three</option>
        </td>
      </tr>

      <tr>
        <td><b>Employee salary:</b></td>
        <td><input type="text" name="salary"></td>
      </tr>
    </table>
    
    <input type="submit"><input type="reset"><br><br>
   
</center>
</form>




    </body>
</head>
</html>
